<% content_for :head do %>
    <title>
        <%= current_user.name %>-monolist
    </title>
    <meta name="discription" content="<%= current_user.name %>のモノページ。Hanakoの欲しいモノ、持ってるモノを表示しています。" >
<% end %>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>