<div class="row">
    <div class="col-xs-offset-4">
        <h1>ランキングページ <small>Want</small></h1>
    </div>

    <div class="col-xs-offset-2">
        <table class="table table-striped">
            <tr>
                <th>順位</th>
                <th>タイトル</th>
            </tr>
            <% i = 1 %>
            <% @want_ranking.keys.each do |wants| %>
                <tr>
                    <td><%= i %></td>
                    <td><%= rank(wants).title %></td>
                </tr>
                <% i = i + 1 %>
            <% end %>
        </table>
    </div>
</div>