<div class="row">
    <div class="col-xs-offset-4">
        <h1>ランキングページ <small>Want</small></h1>
    </div>

    <div class="col-xs-offset-2">
        <table class="table table-striped">
            <tr>
                <th>順位</th>
                <th>商品</th>
                <th>名前</th>
            </tr>
            <% i = 1 %>
            <% @want_ranking.keys.each do |wants| %>
                <tr>
                    <td><%= i %></td>
                    <td>
                        <% if rank(wants).small_image.present? %>
                            <%= image_tag(rank(wants).small_image , alt: rank(wants).title) %>
                        <% else %>
                            <%= image_tag("no-image_small.png" , alt: rank(wants).title) %>
                        <% end %>
                    </td>
                    <td><%= link_to(rank(wants).title, rank(wants).detail_page_url) %></td>
                </tr>
                <% i = i + 1 %>
            <% end %>
        </table>
    </div>
</div>